<tr>
	<td><%= item.product.title %></td>
	<td><%= link_to item.quantity, edit_order_item_path(item) %></td>
	<td><%= print_price item.product.price %></td>
	<td><%= print_price item.subtotal %></td>
	<td><%= print_stock item.product.stock, item.quantity %></td>
	<td><%= link_to 'Delete', item, method: :delete, data: {confirm: "Are You sure"} %></td>
</tr>