<div class="container">
<div class="modal-content order-summary">
  <div class="modal-header">
    <h1>Your Orders</h1>
  </div>

  <div class="modal-body order-detail">
    <div class="container">
    
    <div class="col-md-6">
    <% if @orders.any? %>
    <table class="order-header">
    <% @orders.each_with_index do |order, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= print_price(order.total) %></td>
        <td><%= order.updated_at.strftime("%b %d, %Y") %></td>
        <td><%= link_to 'Show', order, class: "btn btn-success"%></td>
      </tr>
    <% end %>
    </table>
    <% else %>
    <p> You haven't made any orders yet </p>
    <% end %>
    </div>
    </div>
    </div>

  <div class="modal-footer">
    <%= link_to 'Back', root_path, class: "btn btn-outline-success" %>
  </div>
</div>
</div>