<!DOCTYPE html>
<html>
  <head>
    <title>E-Veggies | <%= controller.action_name %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%= render "navbar" %>

      <div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      </div>

	  	<div id="page-content">
	  		<%= yield %>
	  	</div>

	  	<footer class="footer">
        <div class="container">
	  		 <p>E-Veggies - A Rails Project by Mike Parton <span><%= icon("github", class: 'fa-2x') %></span></p>
	  	  </div>
      </footer>

  </body>
</html>